@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.active {
    background: rgb(217, 247, 243) !important;
}

.m-auto {
    margin: auto !important;
}

.tag {
    border-radius: 10rem !important;
    padding: .75rem !important;
}

.has-radius {
    border-radius: .5rem !important;
}

.menu {
    width: 260px;
    border-right: 1px solid #dbdbdb;
    height: 150vh;
}

.menu-list a {
    padding: 1em .75em !important;
    border-bottom: 1px solid #dbdbdb;
    font-size: 14px;
}

.menu-list .nested {
    border-left: 0;
    margin: 0 0 0 .75rem !important;
}

.menu-list .nested a {
    font-size: 14px;
    border-bottom: 1px solid rgb(228, 226, 226);
    padding: .8rem .6rem !important;
}

.menu-list a:hover {
    background-color: aliceblue !important;
}

.menu-list i {
    margin-right: 4px;
}

.containers-column {
    padding-top: 1.5rem !important;
    padding-right: 1.75rem !important;
}

.containers-column .title {
    margin-bottom: 1rem !important;
}

/* Dashboard Home */

.dashboard .bgcol {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)), url("https://picsum.photos/1280/300");
    width: 100%;
    height: 300px;
    padding: 20px;
    border-radius: .5rem;
    cursor: pointer;
    transition: .16s ease;
}

.dashboard .bgcol:hover {
    transform: scale(1.02);
}

.dashboard .title small {
    font-size: 12px;
    font-weight: 400;
    margin-top: .8rem;
}

.dashboard .bgcol .subtitle {
    margin-top: 2rem !important;
    line-height: 25px;
}

.user {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #dbdbdb;
}

.user img {
    border-radius: 50%;
}

.user .title {
    margin: .75rem 0;
}

.user ul {
    border: none !important;
}

.user ul li {
    display: inline-block;
    padding: .3rem;
}

.card .image img {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.card-content {
    padding: .8rem !important;
}

.card-content .content {
    margin-bottom: .6rem !important;
}

.card-content ul li {
    display: inline;
    margin: 0 1px;
}